.container{
    height: 93.5vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.infoContainer{
    height: 70%;
    width: 50%;
}
.labelSheet{
    text-align: start;

}
.clkBtn{
    width: 75px;
    height: 40px;
    outline: none;
    border: 2px solid #FFF;
    border-radius: 10px;
    background-color: #FFC03D;
    margin-left: 10px;
    font-size: 12px;
}
.clkBtn{
    width: 70px;
    height: 35px;
    border: 1px solid #000;
    transition: all .2s ease-in;
}
.clkBtn:hover{

    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px  #f85959,
    0 15px 10px -3px #39a2db, 0 16px 10px -3px #39a2db;
}
.clkBtn:active{
    transform: translateY(0px);
    box-shadow: 0 3.5px 0 -2px  #f85959,
    0 7.5px 10px -3px #39a2db, 0 7.5px 10px -3px #39a2db;
}
@media (max-width:420px) {
    .inputArea{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .infoContainer{
        width: 100%;
    }
}